#-*-Makefile-*- vim:syntax=make

PLATFORM = stm32f4

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

ASSEMBLY_FILES += $(TOSDIR)/chips/stm32f4/fwlib/startup_stm32f4xx.S # add startup file to build
#CFLAGS += -DSTM32 -T$(TOSDIR)/platforms/$(PLATFORM)/tos.x 

$(call TOSMake_include_platform,stm32f4)

stm32f4: $(BUILD_DEPS)
	@:


